In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('./database/sqlite/northwind.db')

In [4]:
query = "SELECT NAME FROM SQLITE_MASTER WHERE TYPE='table'"

sql_exe = pd.read_sql_query(query, conn)

sql_exe.head()

                   name
0            Categories
1       sqlite_sequence
2  CustomerCustomerDemo
3  CustomerDemographics
4             Customers